/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    padding: 20px;
  }

  .background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background-attachment: fixed;
  }
  
  
  header img {
    vertical-align: middle;
  }
  
  nav {
    padding: 10px;
    z-index: 2;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: teal;
    color: white;
  }
  
  main {
    display: flex;
    padding: 40px;
  }
  
  #categories {
    width: 20%;
    margin-right: 40px;
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.08)
  }
  
  #categories h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(28, 172, 172);
  }
  
  #categories ul {
    list-style: none;
  }
  
  #categories ul li {
    margin-bottom: 10px;
  }
  
  #categories ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  #categories ul li a:hover {
    background-color: teal;
  }
  
  #compare {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }
  section #compare {
    position: sticky;
    top: 0;
    align-self: flex-start;
    text-align: center;
  }
  
  .vs {
    font-size: 30px;
    align-self: center;
    color: teal;
    text-align: center;
    line-height: 100px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .product {
    position: sticky;
    text-align: center;
    top: 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.1);
    max-width: 450px;
    min-width: 450px;
  }

  .product .image{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .product h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: teal;
  }
  
  .product ul {
    list-style: none;
    text-align: center;
  }
  
  .product ul li {
    margin-bottom: 10px;
    color: #ffffff;
  }

  .vs {
    box-shadow: 0 0 10px 5px #48abe0;
  }

  .vs .unga{
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }

  .vs .unga p {
    display: none;
  }

  #val-n-senti {
    width: 100%;
    color: white;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1)
  }

  #val-n-senti table {
    width: 100%;
    font-size: 20px;
  }
  
  .graph-repres {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #specifications {
    width: 100%;
    color: white;
    backdrop-filter: blur(10px);
  }

  #specifications table{
    width: 100%;
    font-size: 20px;
  }

  th,td {
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
  }