body {
    background-color: #e0e0e0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
    border-radius: 10px;
}

#pf {
    margin: 20px;
    padding: 50px;
    background-image: linear-gradient(rgba(7, 22, 36, 0), rgba(7, 22, 36, 0.933));
}

.pf-info {
    display: flex;

}

.pf-icon {
    display: flex;
    align-items: center;
    font-size: 50px;
    color: rgb(199, 244, 234);
    padding: 10px;
    background-color: rgba(7, 22, 36, 0.933);
    border-radius: 20px;
}

.info {
    display: flex;
    padding: 10px;
}

.info p {
    background-color: rgb(248, 245, 61);
    padding: 5px;
    border-radius: 20px;
}

#bookmark_reviews {
    margin: 10px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

#bookmark_reviews h3 {
    font-size: 30px;
}

.bookmark {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    font-size: 50px;
    width: 50%;
    padding: 50px;
    background-image: linear-gradient(rgba(57, 240, 66, 0.937), rgba(57, 240, 66, 0));
    
}

.bookmark a{
    color:black;
    text-decoration: none;
}
.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    font-size: 50px;
    width: 50%;
    padding: 50px;
    background-image: linear-gradient(rgba(57, 234, 240, 0.937), rgba(57, 240, 66, 0));
}

.reviews a{
    color:black;
    text-decoration: none;
}

.info a{
    text-decoration: none;
    color: black;
    margin-left: 40px;
}

.info a button {
    border-radius: 10px;
    padding: 10px 30px;
    min-height: 50px;
    min-width: 180px;
    transition: 0.3s;
    background-color: rgba(7, 22, 36, 0.933);
    color:rgb(199, 244, 234);
}
.info a button:hover
{
    background-color: rgba(7, 22, 36, 0.5);
    cursor: pointer;
}